/* app/HomePage.module.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: rgba(17, 34, 51, 0.2);
    color: #123;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #123;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: #123;
}

.navLinks li {
    margin: 0;
}

.navLinks a {
    text-decoration: none;
    color: #123;
    font-size: 1rem;
}

.navLinks a:hover {
    text-decoration: underline;
}

.authlinks{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    margin-top: 100px;
}

.hero p{
    font-size: 20px;
    padding: 50px;
}

.ctaButton {
    background-color: #f300ba;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 100px;
}

.features, .testimonials, .ctaSection {
    padding: 50px 0;
    text-align: center;
}

.features h2{
    padding: 30px;
    font-size: 30px;
}

.featureList, .testimonialList {
    display: flex;
    justify-content: space-around;
}

.feature, .testimonial {
    width: 30%;
}

.feature {
    background-color: aqua;
    padding: 30px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}

.socialLinks a {
    margin: 0 10px;
    text-decoration: none;
    color: #0070f3;
}

/*Login*/
.loginn{
    top: 50%;
    margin: 200px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loginn h1{
    padding: 30px;
    font-size: 30px;
}

.formm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.form button {
    align-self: flex-end;
}

.flex-column > label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.buttonsubmit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.buttonsubmit:hover {
    background-color: #252727;
}